.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--gap-medium);
  background-color: var(--color-light-gray);
  user-select: none;
  overflow: hidden;
}

header {
  text-align: center;
  margin-bottom: var(--gap-medium);
}

header h1 {
  font-size: 2.2rem;
  color: var(--color-dark-gray);
  margin-bottom: 8px;
}

header p {
  color: var(--color-gray);
  font-size: 1rem;
}